  <%= form_with model: [ @article, @comment ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
    <% @comment.errors.full_messages_for(:body).each do |message| %>
      <div style="color: red; font-size: 10px">
        - <%= message %>
      </div>
    <% end %>
  </p>
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :email_confirmation %><br>
    <%= form.text_field :email_confirmation %>
  </p>
  <p>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </p>
  <p>
    <%= form.submit %>
  </p>
  <% flash.each do |type, message| %>
    <div style="color: red; font-size: 10px">
      - <%= message %>
    </div>
  <% end %>
<% end %>