<h1>Articles</h1>

Title: <%= @article.title %>
<br>
Body: <%= @article.body %>
<br>
<br>

<ul>
  <li>
    <%= link_to 'Home', root_path %>
  </li>
  <li>
    <%= link_to 'Edit Article', edit_article_path(@article) %>
  </li>
  <li>
    <%= link_to 'Delete Article', article_path(@article), data: {
      turbo_method: :delete,
      turbo_confirm: 'Are you sure?'
    } %>
  </li>
</ul>

<% if @article.comments.size.positive? %>
  <h2>Comments</h2>
<% end %>

<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
