<%= form_with model: @drink do |form| %>
  <div>
    <%= form.label :brand %><br>
    <%= form.text_field :brand %>
  </div>

  <br>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <%= form.fields_for :unit do |unit_subform| %>
    <br>
    <div>
      <%= unit_subform.label :unit %><br>
      <%= unit_subform.text_field :unit %>
    </div>

    <div>
      <%= unit_subform.label :packaging %><br>
      <%= unit_subform.select :packaging, Drink.packagings %>
    </div>
  <% end %>

  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>