<h1>Drink</h1>

Brand: <%= @drink.brand %>
<br>
Name: <%= @drink.name %>
<br>
<br>

<div class="article">
  <div class="show">
    <div class="action">
      <ul>
        <li>
          <%= link_to 'Home', root_path %>
        </li>
        <li>
          <%= link_to 'Edit Article', edit_article_path(@article) %>
        </li>
        <li>
          <%= link_to 'Delete Article', article_path(@article), data: {
            turbo_method: :delete,
            turbo_confirm: 'Are you sure?'
          } %>
        </li>
      </ul>
    </div>
  </div>
</div>


<% if @article.comments.size.positive? %>
  <h2>Comments</h2>
<% end %>

<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
