<%= form_with model: @product do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @product.errors.full_messages_for(:name).each do |message| %>
      <div style="color: red; font-size: 10px">
        - <%= message %>
      </div>
    <% end %>
  </div>

  <br>
  <div>
    <%= form.label :sku %><br>
    <%= form.text_field :sku %>
    <% @product.errors.full_messages_for(:body).each do |message| %>
      <div style="color: red; font-size: 10px">
        - <%= message %>
      </div>
    <% end %>
  </div>
  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>